/* general body settings */
body {
  margin: 0;
  font-weight: 300;
  font-family: sans-serif;
}

/* menu settings */
#menu {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 48px;
  background: #1283ce;
}

#menu #icon {
  float: left;
  height: 48px;
  border-radius: 50%;
}

#menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#menu a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-style: groove;
  border-color: rgb(35, 38, 201);
  border-radius: 20px;
  margin-bottom: 200px;
}

section#contact {
  background-color: #f2f2f2;
}

h2 {
  margin-top: 58px;
}

#container_info {
  display: flex;
  justify-content: space-between;
}

section#about div img#ttt {
  width: 200px;
  height: 150px;
  padding: 25px;
}

section#about div img#ggg {
  width: 150px;
  height: 200px;
}

/* images section settings*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* form settings */
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add background color to form */
#form_div {
  border-radius: 5px;
  padding: 20px;
}
