/* general body settings */
body {
  margin: 0;
  font-weight: 300;
}

#menu {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 48px;
  background: #04885c;
}

#menu #icon {
  float: left;
  height: 48px;
  border-radius: 50%;
}

#menu #links {
  float: left;
}

#menu a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#menu a:hover {
  background-color: #ddd;
  color: black;
}

/* ______________________________________________________*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */
